.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main{

    height: 100%;
    display: flex;
}

.contenido{

    width: 100%;
    padding: 2rem;

}

.titulo
{
    width: 50%;
    margin: 0px;
}

.containerTitulo
{
    display: flex;
    justify-content: space-between;
}

.titulo2
{
    margin-bottom: 2rem;
}

.linea
{
    background-color: silver;
    height: 0.2rem;
    margin-top: 2rem;
    margin-bottom: 2rem
}

.containerLila {
    background-color: none;
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column; /* Cambio a dirección de columna */
    justify-content: flex-start; /* Alinear elementos en la parte superior */
  }
  
  