.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main{

    height: 100%;
    display: flex;
}

.contenido{

    width: 100%;
    padding: 2rem;

}

.titulo
{
    width: 50%;
    margin: 0px;
    font-size: 35px;
}

.containerTop
{
    display: flex;
}

.containerTitulo
{
    justify-content: left;
    width: 88%;   

}

.containerBoton
{
    display: flex;
    justify-content: space-between;
    width: 12%;
}

.titulo2
{
    margin-bottom: 2rem;
    font-size: 20px;
    font-style: bold; 
}

.linea
{
    background-color: silver;
    height: 0.2rem;
    margin-top: 2rem;
    margin-bottom: 2rem
}

.input1
{
    height:90px;
    display:flex;
    align-items:center;
    justify-content: space-between;
}

.inputs{
    width: 70%;

}

.fotoPerfil{

    height: 220px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoPersonal{
    display: flex;
    
}

.DataUsuario{
    display: flex;
    justify-content: space-between;
    width: 70%;
}