.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main{

    height: 100%;
    display: flex;
}

.contenido{

    width: 100%;
    padding: 2rem;

}

.titulo
{
    width: 50%;
    margin: 0px;
}

.containerTop
{
    display: flex;
}

.containerTitulo
{
    justify-content: left;
    width: 88%;    
}

.containerBoton
{
    display: flex;
    justify-content: space-between;
    width: 12%;
}

.titulo2
{
    margin-bottom: 2rem;
}

.linea
{
    background-color: silver;
    height: 0.2rem;
    margin-top: 2rem;
    margin-bottom: 2rem
}

.input1
{
    height:110px;
    display:flex;
    align-items:center;
}
